<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Planificador de Rutas{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <h1>Planificador de Rutas de Distribución</h1>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Logística Jimacomex SpA </p>
        
    </footer>
    {% block extra_js %}{% endblock %}
    <!-- Modal confirmación -->
<div id="confirmModal" class="modal-overlay hidden" aria-hidden="true">
  <div class="modal-box" role="dialog" aria-modal="true" aria-labelledby="confirmTitle">
    <h3 id="confirmTitle">Confirmar</h3>
    <p id="confirmText">¿Seguro?</p>
    <div class="modal-actions">
      <button id="btnCancel" class="btn-cancel" type="button">Cancelar</button>
      <button id="btnConfirm" class="btn-danger" type="button">Aceptar</button>
    </div>
  </div>
</div>


</body>
</html>